@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #3b3d3f;
  font-family: "Lato", sans-serif;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

nav {
  width: 100%;
  background-color: #f9f9f9;
}
nav .first-section {
  padding: 0 3rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
nav .first-section .sidebar__logo {
  display: flex;
  flex-direction: row;
}
nav .first-section .sidebar__logo svg {
  padding-top: 10px;
}
nav .first-section .sidebar__logo h2 {
  margin-left: 1.2rem;
}
nav .first-section .role {
  margin: 1rem;
  display: flex;
  align-items: center;
}
nav .first-section .role .avatar {
  font-size: 1.8rem;
  display: grid;
  place-items: center;
  border: 2px solid #3b3d3f;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
nav .first-section .role .role-name {
  font-size: 1.2rem;
  font-weight: bold;
}
nav .second-section {
  background-color: #C4B0FF;
  height: 50px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .second-section .right {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
nav .second-section .right .hamburger-menu {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
}
nav .second-section .right .hamburger-menu span {
  margin-bottom: 0.3rem;
  border: 1px solid black;
  width: 20px;
}
nav .second-section .active-page {
  background-color: #4942E4;
  margin-left: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
nav .second-section .left {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
nav .second-section .left .three-dots {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
}
nav .second-section .left .three-dots span {
  margin-bottom: 0.3rem;
  border: 1px solid black;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: black;
}

.sidebar {
  margin-top: -18px;
  width: 240px;
  height: -moz-max-content;
  height: max-content;
  background: rgb(255, 255, 255);
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
  font-size: 18px;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #11009E;
  background-color: #eae3ff;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #3b3d3f;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 0 18px 25px;
  font-size: 1rem;
  outline: 0;
  transition: all 200ms ease-in;
  position: relative;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #8696FE;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
  margin-left: 2rem;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
  position: absolute;
  right: 1rem;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #f9f9f9;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 0.9rem;
  padding-top: 13px;
  padding-left: 4rem;
  padding-bottom: 13px;
  color: #4942E4;
}

main {
  width: calc(100% - 240px);
  margin-left: 240px;
  height: 100%;
  /* upper btn box */
  /* for table code */
  /* modal coding */
}
main .upper-btn-box {
  width: 100%;
  height: 100px;
  /* background-color: darkseagreen; */
  padding: 30px;
  display: flex;
}
main .upper-btn-box .left-box {
  width: 50%;
  height: 100%;
  /* background-color: burlywood; */
}
main .upper-btn-box .left-box button {
  border: none;
  outline: none;
  background-color: #11009E;
  color: azure;
  padding: 10px;
  border-radius: 20px;
  /* font-size: 22px; */
  margin: 0px 10px;
}
main .upper-btn-box .right-box {
  width: 50%;
  height: 100%;
  /* background-color: rgb(205, 120, 8); */
  display: flex;
}
main .upper-btn-box .right-box button {
  border: none;
  outline: none;
  background-color: #4942E4;
  color: azure;
  padding: 10px;
  border-radius: 20px;
  /* font-size: 22px; */
  margin: 0px 10px;
}
main .upper-btn-box .right-box i {
  font-size: 18px;
  color: #3b3d3f;
  padding: 10px;
}
main .upper-btn-box .right-box input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 3px solid #0a0909;
  padding: 13px;
}
main .table-box {
  width: 100%;
  padding: 30px;
}
main .table-box table {
  width: 100%;
  border: 1px solid black;
}
main .table-box table tr th {
  border-right: 1px solid black;
  padding: 15px 0px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid black;
}
main .table-box table tr td {
  border-right: 1px solid black;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid black;
}
main .table-box table tr td button {
  border: none;
  outline: none;
  margin: 0px 10px;
  cursor: pointer;
  background-color: transparent;
}
main .modal {
  width: 0%;
  height: -moz-max-content;
  height: max-content;
  /* From https://css.glass */
  background: rgba(153, 134, 236, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  z-index: -1;
  transition: 1s ease-in-out;
}
main .modal.active {
  opacity: 1;
  z-index: 1;
  width: 60%;
}
main .modal .close-icon {
  position: absolute;
  font-size: 30px;
  padding: 10px;
}
main .modal .left-modal {
  width: 30%;
  height: 100%;
  background-color: rgb(149, 202, 248);
}
main .modal .left-modal .img-box {
  width: 100%;
  height: 300px;
  background-color: antiquewhite;
  display: flex;
  padding: 30px;
  position: relative;
}
main .modal .left-modal .img-box input {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 90px;
  opacity: 0;
}
main .modal .left-modal .img-box i {
  font-size: 24px;
  padding: 10px;
  position: absolute;
  right: 40px;
  top: 90px;
}
main .modal .left-modal .img-box img {
  border-radius: 10px;
}
main .modal .right-modal {
  width: 70%;
  height: 150%;
  border-left: 5px groove #11009E;
  padding: 30px;
  /* display: flex; */
}
main .modal .right-modal .input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .modal .right-modal .input-box label {
  font-size: 16px;
  margin: 20px 0px;
}
main .modal .right-modal .input-box input {
  width: 60%;
  margin: 10px 0px;
  border: none;
  padding: 13px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
main .modal .right-modal .input-box button {
  width: 48%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 13px;
  color: black;
  margin: 5px;
}/*# sourceMappingURL=sass.css.map */