@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

// Body text - 16px\
// Headings - 21px
// subheadings - 18px and Font Weight: 300

// for Primary buttons , call to action things
$primaryColor : #11009E;
// Secondary is for less important buttons and info cards.
$secondaryColor: #4942E4;
// Accent color is an additional color. It appears in images, highlights, hyperlinks, boxes, cards, etc.
$accentColor : #C4B0FF;
// when we hover over things
$hoverColor: #8696FE;
$textColor: #3b3d3f;

$headingSize: 19px;
$textSize: 14px;
$subheadingSize: 16px;

:root{
  font-size: 14px;
}

*{
  box-sizing: border-box;
}
*::before, *::after{
  box-sizing: border-box;
}

html {
  font-size: $textSize;
  color: $textColor;
  font-family: 'Lato' , sans-serif;
}

button:hover{
  cursor: pointer;
}



body {

 
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
nav{
  width: 100%;
  background-color: #f9f9f9;
  .first-section{
    padding: 0 3rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
   
    .sidebar__logo{
      display: flex;
      flex-direction: row;
      svg{
        padding-top: 10px;
      }
      h2{
        margin-left: 1.2rem;
      }
    }
    .role{
      margin: 1rem;
      display: flex;
      align-items: center;
      .avatar{
        font-size: 1.8rem;
        display: grid;
        place-items: center;
        border: 2px solid $textColor ;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 15px;
      }
      .role-name{
        font-size: 1.2rem;
        font-weight: bold;
      }

    }
  }
  .second-section{
    background-color: $accentColor;
    height: 50px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right{
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .hamburger-menu{
        display: flex;
        flex-direction: column;
        border: none;
        background-color: transparent;
        span{
          margin-bottom: 0.3rem;
          border: 1px solid black;
          width: 20px;
          // background-color: black;
        }
      }
    }
    .active-page {
      background-color: $secondaryColor;
      margin-left: 1.5rem;
      padding: 0.5rem 1.5rem;
      border-radius: 7px;
      color: white;
      font-size: $subheadingSize;
      font-weight: bold;
    }
    .left{
      margin-right: 2rem;
      display: flex;
      align-items: center;
        .three-dots {
          margin-left: 1rem;
            display: flex;
            flex-direction: column;
            border: none;
            background-color: transparent;
        
            span {
              margin-bottom: 0.3rem;
              border: 1px solid black;
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: black;
            }
          }
    }
  }
}



.sidebar {
  margin-top: -18px;
  width: 240px;
  height: max-content;
  background: rgb(255, 255, 255);
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
  border-right: 2px solid rgba($color: #000000, $alpha: 0.1);

  #leftside-navigation {

    ul,
    ul ul {
      margin: -2px 0 0;
      padding: 0;
      font-size: 18px;
    }

    ul {
      li {
        list-style-type: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.07);
        

        &.active {
          &>a {
            color: $primaryColor;
            background-color: lighten($color: $accentColor, $amount: 10%);
            
          }

          ul {
            display: block;
          }
        }

        a {
          color:$textColor;
          text-decoration: none;
          // display: block;
          display: flex;
          flex-direction: row;
          align-items: center;
          
          padding: 18px 0 18px 25px;
          font-size: 1rem;
          outline: 0;
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          position: relative;

          &:hover {
            color: $hoverColor;
          }

          span {
            display: inline-block;
            margin-left: 2rem ;
          }

          i {
            width: 20px;
            position: absolute;
            right: 1rem;
            .fa-angle-left,
            .fa-angle-right {
              padding-top: 3px;
            }
          }
        }
      }
    }

    ul ul {
      display: none;

      li {
        background: #f9f9f9;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;

        a {
          font-size: 0.9rem;
          padding-top: 13px;
          padding-left: 4rem;
          padding-bottom: 13px;
          color: $secondaryColor;
        }
      }
    }
  }
}

// main body
main{
  width: calc(100% - 240px);
  margin-left: 240px;

}
// inner - container
.dashboard-content {
  background-color: #f9f9f9;
  padding: 1rem;
  table{
    border: 1px solid rgba($color: #000000, $alpha: 0.8);
    thead{
      
      th{
        border: 1px solid rgba($color: #000000, $alpha: 0.8);
        text-align: center;
      }
    }
   tbody{
    border: 1px solid rgba($color: #000000, $alpha: 0.8);
    tr {
        height: 40px;
       th,td{
        border: 1px solid rgba($color: #000000, $alpha: 0.8);
       }
      }
    
      tr:nth-of-type(odd) {
        background-color: lighten($color: $accentColor, $amount: 13%);
      }
   }
  }
}
